[submodule "omz"]
	path = libs/omz
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule "plugins/zsh-autosuggestions"]
	path = custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "plugins/zsh-syntax-highlighting"]
	path = custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "libs/fzf"]
	path = libs/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "custom/plugins/zsh-autocomplete"]
	path = custom/plugins/zsh-autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete.git
[submodule "custom/plugins/zsh-eza"]
	path = custom/plugins/zsh-eza
	url = https://github.com/z-shell/zsh-eza.git
